In [2]:
import pandas as pd

In [26]:
def aoi_group(area):
    area_type = area[0]
    types = {
        'f': 'face',
        'n': 'nowhere',
        'l': 'logo',
    }
    return types[area_type]

In [27]:
import os
dfs = []
dirname = 'fixations'
for filename in os.listdir(dirname):
    df = pd.read_csv(dirname+'/'+filename, sep='\t', index_col=False)
    df['AOI group'] = df['AOI'].map(aoi_group)
    df = df.drop(['Comments', 'Unnamed: 19', 'SlideNr', 'Trial Category'], axis=1)
    dfs.append(df)

In [72]:
all_df = pd.concat(dfs).reset_index(drop=True).drop('ID', axis=1)
all_df.columns = [name.replace(" ", "") for name in all_df.columns]
all_df.to_csv('all_fixations.txt', sep=';', index=False)

In [73]:
df = pd.read_csv('all_fixations.txt', sep=';')
df['LogoCategory'] = df['TrialName'].map(lambda s: s[0])
df['BackgroundCategory'] = df['TrialName'].map(lambda s: s[1])
df

,SubjectName,TrialID,TrialSequence,CountInTrial,StartTime,Length,PosX,PosY,SubjectCategory,Age,Sex,Handedness,TrialName,AOI,AOIgroup,LogoCategory,BackgroundCategory
0,S0302,0,0,1,0,308,"986,606323242188","614,169799804688",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
1,S0302,0,0,2,320,264,"1059,84375","600,514221191406",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
2,S0302,0,0,3,606,224,"1088,01745605469","838,78759765625",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
3,S0302,0,0,4,858,260,"1026,591796875","565,269348144531",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
4,S0302,0,0,5,1120,194,"1001,12451171875","590,458190917969",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
5,S0302,0,0,6,1336,252,"998,858215332031","251,317321777344",NaN,NaN,NaN,NaN,KF_001.jpg,fkf01,face,K,F
6,S0302,0,0,7,1590,490,"963,882141113281","247,108901977539",NaN,NaN,NaN,NaN,KF_001.jpg,fkf01,face,K,F
7,S0302,0,0,8,2128,202,"1350,38708496094","870,158874511719",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
8,S0302,0,0,9,2332,244,"1368,50708007813","919,926879882813",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
9,S0302,0,0,10,2590,114,"1403,61926269531","1051,62060546875",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
10,S0302,0,0,11,2734,260,"1051,27087402344","826,334533691406",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
11,S0302,0,0,12,3006,172,"930,683715820313","844,651733398438",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
12,S0302,0,0,13,3198,256,"1067,60913085938","609,810852050781",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
13,S0302,0,0,14,3456,234,"1037,99365234375","572,562622070313",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
14,S0302,0,0,15,3702,140,"981,243530273438","569,273315429688",NaN,NaN,NaN,NaN,KF_001.jpg,nowhere,nowhere,K,F
15,S0302,0,0,16,3870,156,"975,930358886719","296,797515869141",NaN,NaN,NaN,NaN,KF_001.jpg,fkf01,face,K,F
16,S0302,1,1,1,0,118,"972,3681640625","560,213317871094",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
17,S0302,1,1,2,148,138,"665,115661621094","615,888488769531",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
18,S0302,1,1,3,318,130,"436,040954589844","899,446899414063",NaN,NaN,NaN,NaN,KF_002.jpg,lkf2,logo,K,F
19,S0302,1,1,4,482,220,"409,763946533203","995,728820800781",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
20,S0302,1,1,5,768,200,"1567,7626953125","281,601013183594",NaN,NaN,NaN,NaN,KF_002.jpg,fkf2,face,K,F
21,S0302,1,1,6,970,416,"1539,53393554688","295,056427001953",NaN,NaN,NaN,NaN,KF_002.jpg,fkf2,face,K,F
22,S0302,1,1,7,1420,256,"1628,32531738281","801,037109375",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
23,S0302,1,1,8,1678,222,"1593,65625","761,340026855469",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
24,S0302,1,1,9,1916,426,"1581,86560058594","906,510437011719",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
25,S0302,1,1,10,2350,186,"1595,40869140625","812,739379882813",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
26,S0302,1,1,11,2594,174,"399,577270507813","987,251220703125",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
27,S0302,1,1,12,2770,396,"432,066253662109","1006,95825195313",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
28,S0302,1,1,13,3220,176,"1537,61267089844","424,724670410156",NaN,NaN,NaN,NaN,KF_002.jpg,nowhere,nowhere,K,F
29,S0302,1,1,14,3412,574,"1563,92712402344","311,484741210938",NaN,NaN,NaN,NaN,KF_002.jpg,fkf2,face,K,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54936,S3001,397,397,9,2140,276,"1191,568359375","468,423706054688",NaN,NaN,NaN,NaN,UL_098.png,nowhere,nowhere,U,L
54937,S3001,397,397,10,2438,158,"825,341491699219","460,297454833984",NaN,NaN,NaN,NaN,UL_098.png,nowhere,nowhere,U,L
54938,S3001,397,397,11,3818,162,"1473,1513671875","311,943939208984",NaN,NaN,NaN,NaN,UL_098.png,lul98,logo,U,L
54939,S3001,398,398,1,0,266,"971,78271484375","545,204528808594",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54940,S3001,398,398,2,284,252,"1193,18444824219","756,966735839844",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54941,S3001,398,398,3,538,220,"1235,39672851563","753,4990234375",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54942,S3001,398,398,4,796,208,"1270,72595214844","849,760131835938",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54943,S3001,398,398,5,1006,226,"1243,1640625","867,119201660156",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54944,S3001,398,398,6,1248,214,"1238,1259765625","727,389770507813",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54945,S3001,398,398,7,1480,178,"1282,52783203125","749,785705566406",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54946,S3001,398,398,8,1694,268,"542,93701171875","495,144378662109",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54947,S3001,398,398,9,1994,240,"1134,96362304688","496,375244140625",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54948,S3001,398,398,10,2258,168,"1171,93408203125","830,422241210938",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54949,S3001,398,398,11,2428,356,"1182,29821777344","855,942565917969",NaN,NaN,NaN,NaN,UL_099.png,lul99,logo,U,L
54950,S3001,398,398,12,2822,240,"453,717376708984","551,594116210938",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54951,S3001,398,398,13,3070,358,"403,481109619141","598,75",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54952,S3001,398,398,14,3430,574,"431,448516845703","601,904357910156",NaN,NaN,NaN,NaN,UL_099.png,nowhere,nowhere,U,L
54953,S3001,399,399,1,0,112,"891,965087890625","501,615753173828",NaN,NaN,NaN,NaN,UL_100.png,nowhere,nowhere,U,L
54954,S3001,399,399,2,114,86,"884,711303710938","535,4931640625",NaN,NaN,NaN,NaN,UL_100.png,nowhere,nowhere,U,L
54955,S3001,399,399,3,264,160,"420,662963867188","260,433319091797",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54956,S3001,399,399,4,492,266,"459,932861328125","195,659652709961",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54957,S3001,399,399,5,766,206,"552,010620117188","199,439376831055",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54958,S3001,399,399,6,986,138,"427,588623046875","129,141448974609",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54959,S3001,399,399,7,1822,188,"424,426330566406","244,09895324707",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54960,S3001,399,399,8,2346,302,"512,954040527344","216,260589599609",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54961,S3001,399,399,9,2656,176,"431,4921875","196,921371459961",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54962,S3001,399,399,10,2872,266,"1020,13806152344","745,103576660156",NaN,NaN,NaN,NaN,UL_100.png,nowhere,nowhere,U,L
54963,S3001,399,399,11,3206,236,"1206,04467773438","657,135314941406",NaN,NaN,NaN,NaN,UL_100.png,nowhere,nowhere,U,L
54964,S3001,399,399,12,3482,170,"555,941833496094","274,647766113281",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L
54965,S3001,399,399,13,3668,224,"462,152282714844","174,417678833008",NaN,NaN,NaN,NaN,UL_100.png,lul100,logo,U,L

In [76]:
import sqlite3

conn = sqlite3.connect('eye_data.db')

In [78]:
df.to_sql('fixations', conn, if_exists='replace', index=False)

In [79]:
df2 = pd.read_csv('all_saccades.txt', sep=';')
df2['LogoCategory'] = df2['TrialName'].map(lambda s: s[0])
df2['BackgroundCategory'] = df2['TrialName'].map(lambda s: s[1])
df2.to_sql('saccades', conn, if_exists='replace', index=False)

In [84]:
pd.read_sql_query("select COUNT(*), AOIgroup, LogoCategory, BackgroundCategory from fixations GROUP BY AOIgroup, LogoCategory, BackgroundCategory", conn)

   COUNT(*) AOIgroup LogoCategory BackgroundCategory
0      5916     face            K                  F
1      5612     face            U                  F
2      2911     logo            K                  F
3      3817     logo            K                  L
4      3857     logo            U                  F
5      4825     logo            U                  L
6      5208  nowhere            K                  F
7      9550  nowhere            K                  L
8      4686  nowhere            U                  F
9      8584  nowhere            U                  L

In [85]:
pd.read_sql_query("select SUM(Length), AOIgroup, LogoCategory, BackgroundCategory from fixations GROUP BY AOIgroup, LogoCategory, BackgroundCategory", conn)

   SUM(Length) AOIgroup LogoCategory BackgroundCategory
0      1537954     face            K                  F
1      1434350     face            U                  F
2       669292     logo            K                  F
3       982432     logo            K                  L
4       924384     logo            U                  F
5      1288326     logo            U                  L
6      1231558  nowhere            K                  F
7      2388292  nowhere            K                  L
8      1092360  nowhere            U                  F
9      2143796  nowhere            U                  L

In [86]:
pd.read_sql_query("select SUM(Length), AOIgroup from fixations GROUP BY AOIgroup", conn)

   SUM(Length) AOIgroup
0      2972304     face
1      3864434     logo
2      6856006  nowhere

In [87]:
pd.read_sql_query("select SUM(Length), AOIgroup from fixations GROUP BY AOIgroup", conn)

   SUM(Length) AOIgroup
0      2972304     face
1      3864434     logo
2      6856006  nowhere

In [88]:
pd.read_sql_query("""
select COUNT(*), AOIgroup, LogoCategory, BackgroundCategory
from saccades
WHERE CountInTrial=1
GROUP BY AOIgroup, LogoCategory, BackgroundCategory""", conn)

   COUNT(*) AOIgroup LogoCategory BackgroundCategory
0       673     face            K                  F
1       725     face            U                  F
2       144     logo            K                  F
3       574     logo            K                  L
4       112     logo            U                  F
5       593     logo            U                  L
6       182  nowhere            K                  F
7       426  nowhere            K                  L
8       163  nowhere            U                  F
9       407  nowhere            U                  L

In [90]:
pd.read_sql_query("""
select COUNT(*), AOIgroup
from saccades
WHERE CountInTrial=1
GROUP BY AOIgroup""", conn)

   COUNT(*) AOIgroup
0      1398     face
1      1423     logo
2      1178  nowhere

In [91]:
pd.read_sql_query("""
select COUNT(*), AOIgroup, BackgroundCategory
from saccades
WHERE CountInTrial=1
GROUP BY AOIgroup, BackgroundCategory""", conn)

   COUNT(*) AOIgroup BackgroundCategory
0      1398     face                  F
1       256     logo                  F
2      1167     logo                  L
3       345  nowhere                  F
4       833  nowhere                  L